footer > h2 {
    font-size: 1.25rem;

    @apply non-tablet-screen:text-base;
}
h2 > span {
    font-size: calc(1.75em * 1.618);
}
h2 > a {
    font-size: 1.75em;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1.5px white;
}
.i-bar {
    width: 50%;
    height: 5px;
    border-radius: 50px;
    background-color: var(--purple-secondary);
    margin-inline: auto;
    margin-block: 60px 0;
    cursor: none;
}