<nav-bar />
<section aria-label="Heros Section" class="h-[90dvh] ps-5 pe-5 flex items-end mb-5">
    <div class="caption-container flex items-end gap-5 justify-between">
        <h1 class="uppercase font-semibold basis-full">
            full stack <br>
            <span class="font-bold">developer</span>
        </h1>
        <article class="subcaption pb-5">
            <p class="mb-5">As an full stack developer using modern ideas simplicity design and universal visual identification
                tailored to dedicated and current market</p>
            <button type="button"
                class="my-flex ps-[15px] pe-[15px] pt-1 pb-1 gap-[5px] border border-solid border-black rounded-full font-[350] capitalize hover:bg-black hover:text-white transition-colors duration-200 group">
                explore
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="rotate-45 group-hover:rotate-180 transition-transform duration-200" viewBox="0 0 24 24">
                    <rect width="24" height="24" fill="none" />
                    <path fill="none" stroke="currentColor"
                        d="M5 8c.742 0 1.85-.733 2.78-1.475c1.2-.954 2.247-2.094 3.046-3.401C11.425 2.144 12 .956 12 0m0 0c0 .956.575 2.145 1.174 3.124c.8 1.307 1.847 2.447 3.045 3.401C17.15 7.267 18.26 8 19 8m-7-8v24" />
                </svg>
            </button>
        </article>
    </div>
</section>
<section aria-label="tagline container" class="h-[85svh] my-flex justify-center">
    <h1 class="text-center text-3xl">
        <span class="block font-black mb-2">Designing the Future:</span>
        Beautifully Intuitive and Technically Advanced Web Solutions
    </h1>
</section>