@import url('./swiper-elements.css');

section[aria-label*='tagline'] {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)), url(/metallic-bg.jpg);
    background: -moz-linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)), url(/metallic-bg.jpg);
    background: -webkit-linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)), url(/metallic-bg.jpg);
    background-size: cover;
    /* background-size: 120%; -- for laptop screen -- */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f8f8f8;
    /* background-blend-mode: difference; */
}

section[aria-label="Heros Section"] h1 {
    /* TODO: minimum font-size for any screen is 3rem and works perfectly, hence use clamp resource to vary size between 3rem and 4 rem and replace font-size with it */
    font-size: 4rem;

    @apply tablet-small-screen:text-5xl;
    @apply non-tablet-screen:text-4xl;

    line-height: normal;
}

section[aria-label="Heros Section"] h1 span {
    line-height: 0;
    font-size: 1.618em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}

.grid-container h2 {
    font-size: 4rem;
    background: hsla(257, 16%, 8%, 1);
    background: -webkit-linear-gradient(180deg, hsla(257, 16%, 8%, 1) 24%, hsla(253, 44%, 63%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(257, 16%, 8%, 1) 24%, hsla(253, 44%, 63%, 1) 100%);
    background: linear-gradient(180deg, hsla(257, 16%, 8%, 1) 24%, hsla(253, 44%, 63%, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* color: transparent; */

    @apply non-tablet-screen:text-5xl;
}

#outcome article {
    @apply text-3xl;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2.number {
        font-size: calc(1em / 0.7);
        /* color: #9b9b9a; */
        /* -webkit-text-stroke: 1px #000; */
        color: var(--purple-secondary);
        -webkit-text-stroke: 1px var(--purple);
    }

    p {
        text-align: center;
        font-size: calc(1em / (1.618));
        font-weight: 300;
    }
}

.line-separator {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    width: 80%;
    height: 2px;
    border: none;
    margin-inline: auto;
    background-color: var(--black);
}

.marquee-container {
    /* width: 100%; */
    display: flex;
    gap: 30px;
    justify-content: space-between;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;

    .marquee-content-container {
        /* min-width: 100%; */
        gap: 30px;
        justify-content: space-evenly;
        animation: marquee 10s linear infinite forwards;
    }

    .marquee-content-container:first-of-type {
        /* background-color: yellow; */
    }

    .marquee-content-container:nth-of-type(2) {
        /* background-color: red; */
    }

    .marquee-content-container:last-of-type {
        /* background-color: yellowgreen; */
    }



    li {
        @apply text-3xl;

        -webkit-text-stroke: 1px #000;
        color: transparent;
        letter-spacing: -0.75px;
    }
}

@keyframes marquee {
    to {
        transform: translateX(-100%);
    }
}

.calculator-image img {
    object-position: right top;
    transition: object-position 600ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.calculator-image:hover img {
    object-position: left 100%;
}

.open-say-hi-container {
    -webkit-text-stroke: 1px #000;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-size: 1.15rem;
    text-transform: capitalize;
    animation: blinking 500ms infinite alternate ease-in-out;
}

@keyframes blinking {
    from {
        color: rgb(0, 0, 0, 0);
    }

    to {
        color: rgb(0, 0, 0, 1);
    }
}

/* RESPONSIVENESS */
@media screen and (max-width: 520px) {

    [aria-label*="work outcome"] :where(article:first-of-type, article:last-of-type) {
        margin-inline: 0;
    }

}

@media screen and (max-width: 680px) {
    [aria-label*="calculator"] {
        flex-direction: column;

        & > article {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .calculator-image {
            width: 100%;
        }

        .calculator-image img {
            border-radius: 0;
        }
    }
}