/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --black: #141219;
    --black-secondary: #0f0e19;
    --purple: #8a78cb;
    --purple-secondary: #c3b6da;
    --blue: #3450b3;
}

html {
    height: 100%;
}

html {
    scroll-behavior: smooth;

    @apply non-desktop-screen:text-sm;
}

body {
    width: 100%;
    /* overflow-x: hidden; */
    position: relative;
    /* -webkit-mask-image: url(nnoise.svg); */
    background: url('/nnnoise.svg');
    /* mask-repeat: no-repeat; */
}

.my-flex {
    display: flex;
    align-items: center;
}

.my-btn {
    border: 1px solid black;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.17rem;
}

ul {
    padding-inline: 0;
    margin-block: 0;
}

:-webkit-autofill {
    position: absolute;
    inset: 0;
    background: none !important;
}